# Backend
PROD_APP_PORT=8080
PROD_TRANSMISSION_HOST=host.docker.internal
PROD_TRANSMISSION_PORT=9091
PROD_TRANSMISSION_USERNAME=
PROD_TRANSMISSION_PASSWORD=

# Auth Service
BETTER_AUTH_URL=http://localhost:5174
BETTER_AUTH_SECRET=dev-only-secret-change-me-dev-only-secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BOOTSTRAP_ADMIN_EMAILS=
